<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='http://fonts.googleapis.com/css?family=Happy+Monkey' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ asset('vendors/foundation-5.0.2/css/foundation.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/main-application.css') }}" />
    <script src="{{ asset('vendors/foundation-5.0.2/js/modernizr.js') }}"></script>

    <style type="text/css">
        body { padding: 5px;}
        .header { background-color: #69992b; padding: 5px; margin-bottom: 5px;}
        .leftbar { float: left; width: 30%; background-color: #7ea093;padding: 10px;}
        .rightbar { float: left; width: 69%; background-color: #FF9900; margin-left:5px;padding: 10px;}
        .clear { clear:both; margin-bottom: 5px;}
        .footer { background-color: #be66f1;padding: 10px;}
        .gloalVar { padding: 50px; background-color: #dd1144; width: 100%; margin-bottom: 10px;}
    </style>
</head>
<body>


<div class="content">
    <h1>Default Page</h1>


    <div class="leftbar">
        {{ region('leftbar') }}
    </div>

    <div class="rightbar">
        {% block body %}{% endblock body %}
    </div>


</div>



</body>
</html>


